@import 'global.css';

* {
  text-decoration: none;
}

.challenge-page {
  padding: 60px;
}

.back {
  color: #9ca3af;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.back:hover {
  color: white;
}

.challenge-box {
  background: #0f1a2b;
  border: 1px solid #1f2937;
  padding: 30px;
  margin-bottom: 30px;
}

.challenge-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.challenge-header h1 {
  color: white;
}

.challenge-meta {
  margin-top: 16px;
  line-height: 1.8;
  color: #9ca3af;
}

.challenge-meta div {
  margin-bottom: 10px;
}

.download-row {
  margin-top: 18px;
}

.download-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.label {
  color: #9ca3af;
  margin-top: 15px;
}

.meta {
  margin-top: 10px;
  color: #9ca3af;
}

.meta span {
  color: white;
}

.btn {
  background: #374151;
  border: none;
  padding: 12px 20px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: #4b5563;
}

.flag-row {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.flag-row input {
  flex: 1 1 280px;
  min-width: 0;
  padding: 12px;
  width:80%;
  background: #111827;
  border: 1px solid #1f2937;
  color: white;
}

.flag-row button {
  width: 15%;
  flex: 0 0 auto;
  padding: 12px 20px;
  background: #374151;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.comment {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #1f2937;
}

.user {
  color: #9ca3af;
  font-size: 14px;
}

#result {
  margin-top: 10px;
}
