@import 'global.css';

.leaderboard {
  padding: 60px;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #0f1a2b;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 20px;
  text-align: left;
}

.leaderboard-table th {
  color: #e5e7eb;
  font-size: 18px;
  border-bottom: 1px solid #1f2937;
}

.leaderboard-table td {
  color: #d1d5db;
  border-bottom: 1px solid #1f2937;
}

.leaderboard-table tr {
  cursor: pointer;
}

.leaderboard-table tr:hover {
  background-color: var(--color-bg-ternary);
}

.points {
  text-align: right;
}
